# Dependencies
node_modules/
bun.lockb

# Data
data/
*.db
*.db-shm
*.db-wal

# Config
config/local.yml
config/*.key
*.key

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
config/test.yml
